:root {
--cordefundo: #0f172a;
--cordotexto: silver;
--cordaborda: silver;
--cordabordadiv: gold;
--cordabordainput: black;
--fonteprincipal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
background-color: var(--cordefundo);
color: var(--cordotexto);
font-family: var(--fonteprincipal);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

img {
    border: var(--cordaborda);
}

div {
    border: var(--cordabordadiv);
}

input, textarea, button {
    border: var(--cordabordainput);
}